
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-4">
            <h1>Reset Password</h1>

            <div asp-validation-summary="All"></div>
            <form class="form-horizontal" asp-action="ForgotPassword">

                <div class="form-group">
                    <label class="control-label">Enter Employee code or email</label>
                    @Html.TextBox("username", "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">New Password</label>
                    @Html.TextBox("newPassword", "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    @Html.TextBox("confirmPassword", "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Reset</button>
                </div>

            </form>

            <div>
                <h3 class="text-info">
                    <a asp-action="Index">Cancel</a>
                </h3>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

